<% provide(:title, t(".title")) %>
<h1><%= t "static_pages.contact.title"%></h1>
<p>
  <%= t "static_pages.contact.intro"%>
  <a href="http://www.railstutorial.org/contact"><%= t "static_pages.contact.outtro"%></a>.
</p>
