<% provide :title, t(".title") %>
<h1><%= t "static_pages.home.hello" %></h1>
<p>
  <%= t "static_pages.home.intro" %>
  <a href="http://www.railstutorial.org/"><%= t "static_pages.home.link" %></a>
  <%= t "static_pages.home.outtro" %>
</p>
